.section {
    text-align: center;
}

h1, h2 {
    font-family: 'Raleway', sans-serif!important;
    font-weight: 300!important;
    color: #ffffff!important;
}

.heading {
    font-size: 6em;
}

.text {
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin-bottom: 1rem;
    list-style-position: outside;
    line-height: 1.6;
}

#fp-nav ul li, .fp-slidesNav ul li {
    height: 30px;
}

#fp-nav ul li a span {
    border-radius: 0;
    position: absolute;
    z-index: 1;
    height: 30px;
    width: 2px;
    border: 0;
    background: #fff;
    left: 50%;
    top: 0;
    opacity: .3;
    margin: -2px 0 0 -2px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

#fp-nav ul li a.active span, #fp-nav ul li:hover a span, #fp-nav ul li:hover a.active span {
    height: 30px;
    width: 2px;
    background: #fff;
    opacity: 1;
    margin: -2px 0 0 -2px;
    border-radius: 0;
}

#fp-nav ul li a span, #fp-nav ul li .fp-tooltip {
    top: 0 !important;
}

.fp-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

.fp-controlArrow.fp-next {
    right: 125px;
}

.fp-controlArrow.fp-prev {
    left: 125px;
}

.slide h1 {
    width: 500px;
    margin: 0 auto;
}

.slider {
    width: 800px;
    height: 500px;
    margin: 0 auto;
}

#nextSteps {
    width: 800px;
    margin: 0 auto;
}